.App {
  text-align: center;
  margin-top: 20%;
}

.boxContainer{
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 300px; 
}

input{
  margin:5px;
  max-width: 20%;
  padding: 10px 15px;
  border: 2px solid black;
  font-size:25px;
  border-radius: 5px;
}
.changeBorderColor{
  border:3px solid green;
  background: rgb(219, 178, 184);

}